<h1 class="text-center mt-4">Articles</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-2">
      <div class="text-center">
        <h5 class="btn btn-success"><%= link_to 'Create a new article', new_article_path, class: "text-white text-decoration-none" %></h5>
      </div>
    </div>
  </div>
</div>

<%= render 'article' %>
