<div class="container py-4">
  <div class="jumbotron p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 text-center text-white">
      <h1 class="display-5 fw-bold text-shadow">Alpha Blog</h1>
      <p class="fs-4 text-shadow">Welcome to the home of the <b>ALPHA BLOG</b> project!</p>
      <%= link_to "Join", join_path, class: "btn btn-light btn-lg" %></button>
    </div>
  </div>
</div>
