<h1 class="center">AlphaBlog</h1>
<p class="center">This is the home page<br>for the AlphaBlog project!</p>

<div class="center"><%= button_to 'View your articles', articles_path, method: :get %></div>
<br>
<div class="center"><%= button_to 'About', about_path, method: :get %></div>